/*Main*/

.section__wrapper_top {
  max-width: var(--layout-width-basic);
  display: flex;
  justify-content: space-between;
  padding-bottom: 33px;
}

/* .section_rotate::before {
  content: "";
  background-color: red;
  width: calc(100% + 500px);
  height: 312px;
  bottom: 140px;
  left: 0;
  transform: rotate(-7.003deg);
  position: absolute;
} */

.top__left {
  max-width: 515px;
}

/*Headling*/

.headling__main_top {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  margin: 0;
}

/*Button*/

.button_top {
  margin-bottom: 80px;
}

/*IMG*/

.image-container_marketplace {
  max-width: max-content;
}

/*Adaptive*/

@media (max-width: 960px) {
  .section__wrapper_top {
    padding: 32px 24px 107px;
  }

  .headling__main_top {
    font-size: 32px;
  }

  .button_top {
    margin-bottom: 56px;
  }

  .image-container_PC {
    display: none;
  }
}
