/*Main*/

.section_rotate {
  position: relative;
}

.section_rotate::before {
  position: absolute;
  content: "";
  background-color: red;
  height: 312px;
  width: calc(100% + 600px);
  left: 0;
  bottom: -580px;
  transform: translateY(-100%) skewY(-7deg);
  transform-origin: left;
  z-index: 0;
}

.section__wrapper_top {
  max-width: var(--layout-width-basic);
  display: flex;
  justify-content: space-between;
  padding-bottom: 33px;
}

.top__left {
  max-width: 515px;
}

/*Headling*/

.headling__main_top {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  margin: 0;
}

/*Button*/

.button_top {
  margin-bottom: 80px;
}

/*IMG*/

.image-container_marketplace {
  max-width: max-content;
}

.image-container_PC {
  max-width: 1039px;
}

/*Adaptive*/

@media (max-width: 1200px) {
  .top__left {
    max-width: 375px;
  }

  .headling__main_top {
    font-size: 32px;
  }

  .button_top {
    margin-bottom: 56px;
  }
}

@media (max-width: 960px) {
  .section__wrapper_top {
    padding: 32px 24px 107px;
  }

  .image-container_PC {
    display: none;
  }
}
